@page "/edit-user/{Id:guid}"
@inject BlazorHybrid.ViewModels.UserViewModel UserViewModel

<div class="p-5 mx-5 mt-10 bg-gray-100 rounded-lg shadow-lg">
    <button class="px-4 py-2 mb-8 text-white bg-gray-500 rounded hover:bg-gray-600" @onclick="NavigateBack">
        <i class="fa-solid fa-arrow-left"></i>
    </button>

    <div class="flex items-center justify-between mb-5">
        <h1 class="text-2xl font-bold text-gray-800">Edit User</h1>
        <button class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600"
            @onclick="NavigateToEdit">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
    </div>

    @if (UserViewModel.SelectedUser != null)
    {
        <div class="space-y-4">
            <div>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName value="@UserViewModel.SelectedUser.FirstName">
            </div>

            <p><strong>First Name:</strong> @UserViewModel.SelectedUser.FirstName</p>
            <p><strong>Last Name:</strong> @UserViewModel.SelectedUser.LastName</p>
            <p><strong>Email:</strong> @UserViewModel.SelectedUser.Email</p>
            <p><strong>Phone:</strong> @UserViewModel.SelectedUser.PhoneNumber</p>
            <p><strong>Gender:</strong> @UserViewModel.SelectedUser.Gender</p>
        </div>

        <div class="flex justify-between gap-4 mt-6">
            <button type="submit" class="px-4 py-2 text-white bg-green-500 rounded hover:bg-green-600" >Send</button>
        </div>
    }
    else
    {
        <p class="text-red-500">User not found.</p>
    }
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        UserViewModel.LoadUser(Id);
    }

    private void NavigateToEdit()
    {
        UserViewModel.NavigateToEdit(Id);
    }

    private void DeleteUser()
    {
        UserViewModel.RemoveUser(Id);
        NavigateBack();
    }

    private void NavigateBack()
    {
        UserViewModel.NavigateBack();
    }
}
