@page "/users"
@inject BlazorHybrid.ViewModels.UserViewModel UserViewModel

<h1 class="mb-8 text-3xl font-bold text-start">@UserViewModel.Users?.Count Your Clients</h1>

<div class="flex justify-end mb-4">
    <button class="flex items-center gap-2 px-4 py-2 btn-primary" @onclick="UserViewModel.AddUser">
        <i class="fa-solid fa-plus"></i>
        <span class="hidden md:inline-block"> Add User</span>
    </button>
</div>

@if (UserViewModel.Users?.Any() == true)
{
    <ul class="mt-4 space-y-4">
        @{
            int count = 1;
        }
        @foreach (var user in UserViewModel.Users)
        {
            <li class="flex items-center justify-between p-4 bg-gray-100 rounded-lg shadow-md hover:bg-gray-300 hover:cursor-pointer border-b-indigo-500">
                <div>
                    <span class="font-bold">@count. @user.FirstName @user.LastName</span> - <span class="text-gray-600">@user.Email</span>
                </div>
                <div class="flex gap-3">
                    <button class="flex items-center gap-1 px-2 py-1 btn-secondary">
                        <i class="fa-solid fa-eye"></i> <span class="hidden md:inline-block">View</span>
                    </button>
                    <button class="flex items-center gap-1 px-2 py-1 btn-edit">
                        <i class="fa-solid fa-edit"></i> <span class="hidden md:inline-block">Edit</span>
                    </button>
                    <button class="flex items-center gap-1 px-2 py-1 btn-danger">
                        <i class="fa-solid fa-trash"></i> <span class="hidden md:inline-block">Delete</span>
                    </button>
                </div>
            </li>
            count++;
        }
    </ul>
}
else
{
    <p class="p-3 font-bold text-center text-red-300 bg-red-600 rounded-lg shadow">No users found.</p>
}
